<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th><th>Order No.</th><th>Details</th><th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td><td>1234</td><td>15" Samsung Laptop</td>
        <td><a href="#/showOrder/1234">show details</a></td>
      </tr>
      <tr>
        <td>2</td><td>5412</td><td>2TB Seagate Hard drive</td>
        <td><a href="#/showOrder/5412">show details</a></td>
      </tr>
      <tr>
        <td>3</td><td>9874</td><td>D-link router</td>
        <td><a href="#/showOrder/9874">show details</a></td>
      </tr>
    </tbody>
</table>