<!DOCTYPE html>
<html ng-app>
    <head>
        <title title="Sport Illustrated App"></title>
    </head>
    
    <style type="text/css">
        ul { list-style-type: none ; }
    </style>
    
    <body>
        <div ng-init="players = [
                      {name:'Mario', surname:'Yepes', age:37, gender:'male'},
                      {name:'Mario', surname:'Balotelli', age:23, gender:'male'},
                      {name:'Isolde', surname:'Kostner', age:38, gender:'female'},
                      {name:'Lindsey', surname:'Vonn', age:29, gender:'female'},
                      {name:'Giorgio', surname:'Rocca', age:38, gender:'male'},
                      {name:'Marek', surname:'Hamsik', age:26, gender:'male'},
                      {name:'Edinson', surname:'Cavani', age:26, gender:'male'},
                      {name:'Federico', surname:'Cossato', age:41, gender:'male'},
                      {name:'Federica', surname:'Pellegrini', age:25, gender:'female'}
                      ]">
            <label>Filtra per nome:</label><br/>
            <input type="text" placeholder="Filter" ng-model="search.name" /><br/>
            
            <label>Filtra per cognome:</label><br/>
            <input type="text" placeholder="Filter" ng-model="search.surname" /><br/>
            
            <label>Filtra per età:</label><br/>
            <input type="text" placeholder="Filter" ng-model="search.age" /><br/>
            
            <label>Filtra per sesso:</label><br/>
            <input type="text" placeholder="Filter" ng-model="search.gender" /><br/>
            
            <ul>
                <li ng-repeat="player in players | filter:search"> <!-- BUILT-IN filter -->
                    [{{$index + 1}}] {{player.name}}, {{player.surname}}, {{player.age}}, {{player.gender}}
                </li>
            </ul>
        </div>
        
        <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    </body>
</html>